*{
    margin: 0;
    border: 0;
    padding: 0;

}

body{
    background-color: #4F4F4F;
}

header{
    background-color: #548B54;
    width: 80%;
    height: 150px;
    margin: 0 auto;
    margin-top: 10px;
    border: 2px solid #1C1C1C;
}

#header1{
    float: left;
    background-color: #8B7500;
    width: 8%;
    height: 120px;
    margin-left: 15px;
    margin-top: 12.5px;
    border: 2px solid #1C1C1C;
}

#header2{
    float: right;
    background-color: #8B7500;
    width: 30%;
    height: 30px;
    margin-right: 15px;
    margin-top: 15px;
    border: 2px solid #1C1C1C;
}

nav{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

#nav1{
    width: 49%;
    height: 78px;
    float: left;
    margin-top: 10px;
    /* margin-left: 15px; */
    background-color: #548B54;
    border: 2px solid #1C1C1C;
}

#nav2{
    width: 49%;
    height: 78px;
    float: right;
    margin-top: 10px;
    /* margin-right: 15px; */
    background-color: #548B54;
    border: 2px solid #1C1C1C;
}

#asideE{
    float: left;
    background-color: #548B54;
    margin-top: 10px;
    margin-left: 10%;
    width: 15%;
    height: 500px;
    border: 2px solid #1C1C1C;
}

.aside1{
    background-color: #8B7500;
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    height: 230px;
    border: 2px solid #1C1C1C;
}

article{
    float: left;
    background-color: #548B54;
    margin-top: 10px;
    margin-left: 10px;
    width: 48.3%;
    height: 500px;
    border: 2px solid #1C1C1C;
}

.article1{
    width: 48%;
    height: 150px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    background-color: #8B7500;
    border: 2px solid #1C1C1C;
}

.article2{
    width: 48%;
    height: 150px;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    background-color: #8B7500;
    border: 2px solid #1C1C1C;
}

#article3{
    float: left;
    width: 97.4%;
    height: 150px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #8B7500;
    border: 2px solid #1C1C1C;
}

#asideD{
    float: left;
    background-color: #548B54;
    margin-top: 10px;
    margin-left: 10px;
    width: 15%;
    height: 500px;
    border: 2px solid #1C1C1C;
    
}

footer{
    clear: both;
    position:absolute;
    background-color: #548B54;
    width: 79.8%;
    height: 100px;
    left: 10%;
    bottom: 2%;
    margin: 0 auto;
    
    border: 2px solid #1C1C1C;

}
